exportPattern("^[[:alpha:]]+")
#export("thetalogistic", "thetalogistic_D")
exportMethods(
    "coef",
    "confint",
    "summary",
    "vcov" 
)
exportClasses(
    "pva",
     "pvamodel" 
)
importFrom(stats, quantile)
importFrom(stats4, update, coef, vcov, confint, summary)
importFrom(methods, show)
importFrom(coda, "varnames<-")
importFrom(dcmle, dcmle, nchain, makeDcFit)
importClassesFrom(dcmle, dcmle)
importFrom(dclone, jags.fit, dc.fit, dcdim)
S3method(print, pvaModelSelect)
